<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Menu</title>
        <meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<h1 class="head" id="webtittle">Welcome to online burgers</h1>
		<div class="head">
		<img id="headimg"   src="https://st3.depositphotos.com/9109134/18209/v/600/depositphotos_182096182-stock-video-hungry-girl-eating-hamburger-on.jpg" alt="Background" >
		</div>
	</head>
    <body>
		
		<div id="hamburguerSelection" class="head">
			<h3>Selection</h3>
			<p>Here there are the burgers that you have selected<p>
			<div class="divtable">
				<div class="table1">					
							<div class="NameBurger" id="11">
							<h4 align="center">Cheese <a>Lactose</a> burger</h4>
							</div>
							<div class="NameBurger" id="21">
							<h4 align="center">Cheese burger</h4>
							</div>
							<div class="NameBurger" id="31">
							<h4 align="center">Cheese burger</h4>
							</div>
							<div class="ImageBurger" id="21">
							<img  class="burgerImage" src="https://www.mcdonalds.es/sites/default/files/produits/477x360_hamburguesa.png" border="1" alt="Cheese burguer" width="400" height="300">
							</div>
							<div class="ImageBurger" id="22">							
							<img class="burgerImage" src="https://www.mcdonalds.es/sites/default/files/produits/477x360_hamburguesa.png" border="1" alt="Cheese burguer" width="400" height="300">
							</div>
							<div class="ImageBurger" id="23">
							<img class="burgerImage" src="https://www.mcdonalds.es/sites/default/files/produits/477x360_hamburguesa.png" border="1" alt="Cheese burguer" width="400" height="300">
							</div>
						    <div class="DetailsBurger" id="31">
								<ul>
									<li>Crispy bread <a id="typefood">Gluten</a></li>
									<li>double meet</li>
									<li>caramelized onions</li>
								</ul>
							</div>
							<div class="DetailsBurger" id="32">
								<ul>
									<li>Crispy bread <a id="typefood">Gluten</a></li>
									<li>double meet</li>
									<li>caramelized onions</li>
								</ul>
							</div>
							<div class="DetailsBurger" id="33">							
								<ul>
									<li>Crispy bread <a id="typefood">Gluten</a></li>
									<li>Double meet</li>
									<li>Caramelized onions</li>
								</ul>
								</div>
							</div>
					
				</div>
				
				
			</div>
		</div>
		<div id="CustomerSelection">
			<h3>Customer</h3>
			<p>Here you put your information</p>
			<div>
				<h4>Delivery information:</h4>
				<div id="form">
				<form id="form1">
					<p>
						<label for="Fullname">Name</label><br>
						<input type="text" id="Fullname" name="fn" required="required" placeholder="name">
					</p>
					<p>
						<label for="email">Email</label><br>
						<input type="text" id="email" name="em" placeholder="email">
					</p>
					<p>
						<label for="street">Street</label><br>
						<input type="text" id="street" name="st" required="required" placeholder="street">
					</p>
					<p>
						<label for="house">House</label><br>
						<input type="number" id="house" name="ho" required="required" placeholder="house">
					</p>
		
							
			</div>
		</div>
		<div>
			<h4>Payment</h4>
			<div>
				<p>
				<label for="paymethod">Payment method</label><br>
				<select id="paymethod" name="rcp">
					<option selected="selected">Visa</option>
					<option>Master Card</option>
					<option>Paypal</option>
					<option>Swish</option>
				</select>
</p>
			</div>
		</div>
		<div>
			<h4>Genre</h4>
			<p>
				<label for="female">Female</label><br>
				<input type="radio" id="female" name="genre" checked="checked">
			</p>
			<p>
				<label for="male">Male</label><br>
				<input type="radio" id="male" name="genre">
			</p>
		</div>
		                             
		</form>
		<div id="divbutton">
		<button id="button" form="form1" type="submit"><img src="https://cdn.icon-icons.com/icons2/259/PNG/128/ic_send_128_28719.png"> Send Info</button>
        </div>
		</div>
	</body>
</html>